<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro cliente!</title>

    <!-- Colocar favicon en sitio -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Fuente externa https://fonts.google.com/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

    <!-- Mi hoja de estilos (Siempre la más relevante!) -->
    <link rel="stylesheet" href="css/estiloRegistro.css">

</head>

<body>
        <nav class="p-3 mb-2 bg-dark text-white">

            <a href="/">LIBRERIAEGG</a> |
            <a href="/registro">Registro de usuario</a> |
            <a href="/iniciarSesion">login</a>

        </nav>


    <section id="main-section">

        <div id="formulario" class="section">
            <form action="/registrar" method="POST">

                <p th:if="${error!= null}" th:text="${error}" style="color: red;"></p>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="documento">dni </span>
                    </div>
                    <input type="number" class="form-control" name="documento" th:value="${documento}" required
                        placeholder="********">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="nombre">nombre </span>
                    </div>
                    <input type="text" class="form-control" name="nombre" th:value="${nombre}" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="apellido">apellido</span>
                    </div>
                    <input type="text" class="form-control" name="apellido" th:value="${apellido}" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="domicilio">domicilio</span>
                    </div>
                    <input type="text" class="form-control" name="domicilio" th:value="${domicilio}" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="telefono">telefono</span>
                    </div>
                    <input type="number" class="form-control" name="telefono" th:value="${telefono}" required>
                </div>
               
                <div class="input-group mb-3">
                <div class="input-group-prepend"> 
                    <span class="input-group-text" id="rol">rol</span>
                  </div>
                  <select class="form-control" name="rol">
                      <option value="cliente">Cliente</option>
                      <option value="admin">Admin</option>
                  </select>
              </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="clave">clave </span>
                    </div>
                    <input type="password" class="form-control" name="clave" th:value="${clave}" required
                        placeholder="*******">
                </div>
               
                <button type="submit" class="btn btn-primary">Registrarme</button>

            </form>

        </div>
        <img src="" alt="">
    </section>
    <footer>
        <a class="btn btn-dark btn-social mx-2"> <i class="fab fa-twitter"></i>@LIBRERIAEGG</a>
        <a class="btn btn-dark btn-social mx-2"><i class="fab fa-facebook-f"></i>  LIBRERIAEGG</a>
    </footer>
    <!-- El enlace hacia los scripts suele ir aqui antes del cierre del body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>